@{
    ViewData["Title"] = "Home Page";
}

<style>

    .indexLink {
        color: #db1033;
    }

        .indexLink:hover {
            color: grey;
            text-decoration: none;
        }
</style>

<div class="text-center">
    <h1 class="display-4"><p style="color:white">Bem vindo!</p></h1>
</div>
