@{
    ViewData["Title"] = "Home Page";
}

<style>

    .indexLink {
        color: #db1033;
    }

        .indexLink:hover {
            color: grey;
            text-decoration: none;
        }

    .bckgrn {
        background-image: url("IPG.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 800px;
        text-align: center;
    }
</style>

<div class="bckgrn">
    <h1 class="display-4"><p style="color:white">Bem vindo!</p></h1>
</div>
