<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <title>Gestão de tarefas do IPG</title>

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
</head>

@*Old Head*@

@*<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - GestaoTarefasIPG</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>*@

<body id="page-top">

    <style>
        nav {
            background-color: #db1033;
        }

        .link {
            color: white;
        }

            .link:hover {
                color: white;
                text-decoration: none;
            }

        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
            display: table;
            background-image: url("IPG.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        footer {
            text-align: center;
            display: table-row;
            height: 0;
        }

        .footerLink {
            color: #db1033;
        }

            .footerLink:hover {
                color: grey;
                text-decoration: none;
            }

        .div2 {
            float: right;
            height: 40px;
            padding-top: 8px;
            padding-right: 10px;
        }
    </style>

    <header>

        <nav>
            <img src="~/logo.png" width="25" height="40" />
            <a class="link" asp-area="" asp-controller="Home" asp-action="Index">Gestão IPG</a>
            &nbsp;
            <a class="link" asp-area="" asp-controller="Funcionarios" asp-action="Index">Funcionários</a>
            &nbsp;
            <a class="link" asp-area="" asp-controller="Professores" asp-action="Index">Professores</a>
            <partial name="_LoginPartial" />
        </nav>

        @*Old nav*@

        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GestaoTarefasIPG</a>--
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>*@
    </header>

    <div id="wrapper">

        <div id="content-wrapper">

            <div class="container-fluid">

                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="background-color: white;">
            &copy; 2019 - GestaoTarefasIPG - <a class="footerLink" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript-->
    <script src="~/lib/jquery/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin.min.js"></script>

    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>