@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="div2">
    @if (SignInManager.IsSignedIn(User))
    {

        <a class="link" asp-area="Identity" asp-page="/Account/Manage/Index">Hello @UserManager.GetUserName(User)!</a>

        @: &nbsp;

        <a class="link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>

    }
    else
    {

        <a class="link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>

    }
</div>
