<h1><a>Successo!</a></h1>
<style>
    div {
        text-align: center;
    }
</style>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">@ViewBag.Title</h4>
    <p>@ViewBag.Message</p>
    <hr>
    <a asp-action="Index" class="btn btn-primary">Ver professores</a>
</div>